/* doc/src/sgml/stylesheet.css */

/* color scheme similar to www.postgresql.org */

BODY {
	color: #000000;
	background: #FFFFFF;
	font-family: verdana, Arial, sans-serif;
}

A:link		{ color:#0066A2; }
A:visited	{ color:#004E66; }
A:active	{ color:#0066A2; }
A:hover		{ color:#000000; }

H1 {
	font-size: 2.0em;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 0em;
	color: #EC5800;
}

H2 {
	font-size: 1.2em;
	margin: 2.0em 0em 1.2em 0em;
	font-weight: bold;
	color: #666;
}

H3 {
	font-size: 1.1em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
	color: #666;
}

H4 {
	font-size: 0.95em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
	color: #666;
}

H5 {
	font-size: 0.9em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
}

H6 {
	font-size: 0.85em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
}

PRE,CODE,KBD,SAMP,TT {
  font-family:monospace,monospace;
  font-size:1em;
}